footer {
  width: 100%;
  padding: var(--padding-base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-base);
  margin-bottom: var(--margin-base);

  & .reserva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    & h2 {
      color: var(--ink-soft);
      margin-bottom: var(--margin-base);
      text-align: center;

      & + * {
        margin-top: var(--margin-base);
        margin-bottom: var(--margin-base);
      }
    }

    & p {
      text-align: center;
      color: var(--ink-soft);
    }

    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--gap-base);
      color: var(--ink-soft);
      width: 90%;

      & a {
        margin: var(--margin-base) var(--margin-base);
        width: 100%;
      }
      & label {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
      }
    }
  }

  & .redes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-lg);
    margin-top: var(--margin-base);
  }

  & .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & a {
      text-decoration: underline;
    }
  }

  & .clock,
  .date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
    margin-top: var(--margin-base);
  }
}

@media (min-width: 768px) {
  footer {
    & .reserva {

      & form {
        width: 70%;

        & a {
          width: 50%;
        }
      }
    }

    .footer-data {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: var(--gap-lg);
    }
  }
}
