input {
  padding: calc(var(--padding-md) + 5px);
  border: 1px solid var(--accent-wine-hover);
  border-radius: var(--radius-md);
  width: 90%;
  box-sizing: border-box;
  transition: all 0.2s ease;
  font-size: 1rem;
  color: var(--ink);
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 0.5px var(--accent-green);
  }

}
