:root{
  --bg-cream: #fff8e6;
  --bg-sand: #ffe9bf;
  --bg-mint: #d8f2df;

  --ink: #301c14;
  --ink-soft: #664b3c;
  --ink-bright: #e3d063;
  --ink-light: #f5e8c7;

  --accent-red: #c43a2f;
  --accent-yellow: #e6b96c;
  --accent-green: #1f7659;
  --accent-green-dark: #16573f;
  --accent-green-light: #4caf7c;
  --accent-wine: #a1404f;
  --accent-wine-pressed: #6e2b3c;

  --card: #fffdf8;

  --border-soft: #d9bb8b;
  --border-dark: #5d4a33;
  
  --shadow: 0 6px 8px 1px rgba(13, 53, 22, 0.662);
  --shadow-pressed: 0 6px 8px 1px rgba(13, 53, 22, 0.262);
  --radius-lg: 26px;
  --radius-md: 16px;
  --font-display: "Bebas Neue", Impact, sans-serif;
  --font-body: "Barlow", "Segoe UI", sans-serif;

  --margin-base: 10px;
  --margin-md: 10px;
  --margin-lg: 20px;

  --padding-base: 5px;
  --padding-md: 10px;
  --padding-lg: 20px;

  --gap-base: 5px;
  --gap-md: 10px;
  --gap-lg: 20px;


  --width-primary-button-mobile: 150px;
  --width-primary-button-desktop: 200px;

}