.section-detalle-musica {
  width: 100%;
  position: relative;
  padding: auto var(--padding-lg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & img {
    width: 100%;
    filter: contrast(50%) brightness(85%);
    object-fit: cover;
    mask-image: linear-gradient(
      to bottom,
      black 10%,
      black 80%,
      transparent 100%
    );
  }
  & h1 {
    padding: 0px var(--padding-base);
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: left;

    & + * {
      width: 100%;
      padding: var(--padding-md);
      text-align: center;
    }
  }

  & .banda-discografia {
    width: 100%;
    padding: var(--padding-md);

    & h3 {
      margin-bottom: var(--margin-lg);
    }
  }
}
