.section-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
  background-image: radial-gradient(
    circle at 50% 50%,
    var(--bg-cream),
    var(--bg-mint)
  );
  margin-bottom: var(--margin-base);

  & h1 {
    padding: 0px var(--padding-base);
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: left;

    & + * {
      position: absolute;
      top: 45%;
      width: 100%;
      text-align: left;
      padding: 0px var(--padding-base);
      color: var(--ink-bright);

      & + * {
        text-align: center;
        padding: var(--padding-base);
        margin-top: var(--margin-base);
        color: var(--ink-soft);
      }
    }
  }

  & article {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;

    & img {
      min-width: 100%;
      height: auto;
      scroll-snap-align: start;
      object-fit: cover;
      filter: contrast(60%) brightness(85%);

      mask-image: radial-gradient(
        circle at 50% 50%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0.289) 100%
      );
    }
  }

  & .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-base);
  }

  & .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-base);
    margin-top: var(--margin-base);
  }
}

.section-menu {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  backdrop-filter: blur(2px);

  & svg {
    position: absolute;
    top: var(--margin-lg);
    right: var(--margin-lg);
    cursor: pointer;
    color: var(--ink-bright);
  }

  & nav {
    display: flex;
    justify-content: center;
    width: 100%;

    & ul {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: flex-start;
      gap: var(--gap-lg);
      margin: calc(var(--padding-lg) * 10) auto;

      & li {
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: var(--ink-bright);
        cursor: pointer;
        transition: color 0.3s ease;
        border-bottom: 3px solid var(--ink-bright);
        list-style: none;
        width: 70vw;
        padding: var(--padding-lg);
        cursor: pointer;

        &:hover {
          color: var(--ink);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .section-hero {
    & article {
      border-radius: var(--radius-lg);
    }
  }
}

.section-categorias {
  width: 100%;
  display: flex;
  gap: var(--gap-base);
  align-items: center;
  justify-content: flex-start;
  margin: var(--margin-base) var(--margin-base);
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  & svg {
    position: absolute;
    left: 85%;
    bottom: 41%;
    z-index: 10;
    animation: arrow-move-right 2s infinite;
    pointer-events: none;
  }

  & article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-base);
    flex: 0 0 auto;
    width: 100%;
    height: fit-content;
    border: 1px solid var(--accent-green-extralight);
    border-radius: var(--radius-md);
    padding: var(--padding-base);
    scroll-snap-align: start;

    & h3 {
      margin-top: var(--margin-base);
      color: var(--ink-soft);
      text-align: center;
    }

    & p {
      width: 60%;
      text-align: center;
      color: var(--ink-soft);
    }

    & a {
      width: 98%;
    }

    & img {
      width: 100%;
      min-width: 390px;
      height: auto;
      border-radius: var(--radius-md);
      object-fit: cover;
      filter: contrast(80%) brightness(90%);
      box-shadow: var(--shadow);
    }
  }
}

@keyframes arrow-move-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.div-decoration-categorias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
  margin-bottom: var(--margin-base);

  & div {
    border-bottom: 4px solid var(--ink-soft);
    width: calc(90vw / 3);
  }
}

.section-sugerencias {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .div-sugerencias {
    width: 100%;
    display: flex;
    gap: var(--gap-base);
    align-items: center;
    justify-content: flex-start;
    margin: auto var(--margin-base);
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    & .stars-container {
      display: flex;
      gap: var(--gap-base);
    }

    & article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--gap-base);
      flex: 0 0 auto;
      width: 100%;
      height: fit-content;
      border: 1px solid var(--accent-green-extralight);
      border-radius: var(--radius-md);
      padding: var(--padding-base);
      scroll-snap-align: start;

      & h3 {
        margin-top: var(--margin-base);
        color: var(--ink-soft);
        text-align: center;
      }

      & p {
        width: 80%;
        text-align: center;
        color: var(--ink-soft);
      }

      & a {
        width: 98%;
      }

      & img {
        width: 100%;
        min-width: 390px;
        height: auto;
        border-radius: var(--radius-md);
        object-fit: cover;
        filter: contrast(80%) brightness(90%);
        box-shadow: var(--shadow);
        filter: contrast(60%) brightness(80%);
      }
    }
  }
}
