header {
  position: relative;

  & .hamburger-container {
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
  }
}

.section-hero-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
  background-image: radial-gradient(
    circle at 50% 50%,
    var(--bg-cream),
    var(--bg-mint)
  );
  margin-bottom: var(--margin-base);

  & h1 {
    padding: 0px var(--padding-base);
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: left;

    & + * {
      position: absolute;
      top: 45%;
      width: 100%;
      text-align: left;
      padding: 0px var(--padding-base);
      color: var(--ink-bright);

      & + * {
        text-align: center;
        padding: var(--padding-base);
        margin-top: var(--margin-base);
        color: var(--ink-soft);
      }
    }
  }

  & article {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;

    & img {
      min-width: 100%;
      height: auto;
      scroll-snap-align: start;
      object-fit: cover;
      filter: contrast(60%) brightness(85%);

      mask-image: radial-gradient(
        circle at 50% 50%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0.289) 100%
      );
    }
  }

  & .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-base);
  }

  & .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-base);
    margin-top: var(--margin-base);

    & a {
      width: var(--w-prmy-btn-desktop);
      margin-bottom: var(--margin-lg);
    }
  }
}

.section-categorias {
  width: 100%;
  display: flex;
  gap: var(--gap-base);
  align-items: center;
  justify-content: flex-start;
  margin: var(--margin-base) var(--margin-base);
  position: relative;
  overflow-x: auto;

  & article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-base);
    flex: 0 0 auto;
    width: 100%;
    height: fit-content;
    border: 1px solid var(--accent-wine-hover);
    border-radius: var(--radius-md);
    padding: var(--padding-base);
    scroll-snap-align: start;

    & .article-content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & h3 {
      margin-top: var(--margin-base);
      color: var(--ink-soft);
      text-align: center;
    }

    & p {
      width: 60%;
      text-align: center;
      color: var(--ink-soft);
    }

    & a {
      width: 98%;
    }

    & img {
      width: 100%;
      min-width: 390px;
      height: auto;
      border-radius: var(--radius-md);
      object-fit: cover;
      filter: contrast(80%) brightness(90%);
      box-shadow: var(--shadow);
    }
  }
}

.section-sugerencias {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .div-sugerencias {
    width: 100%;
    display: flex;
    gap: var(--gap-base);
    align-items: center;
    justify-content: flex-start;
    margin: auto var(--margin-base);
    position: relative;
    overflow-x: auto;

    & .article-content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & .stars-container {
      display: flex;
      gap: var(--gap-base);
    }

    & article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--gap-base);
      flex: 0 0 auto;
      width: 100%;
      height: fit-content;
      border: 1px solid var(--accent-wine-hover);
      border-radius: var(--radius-md);
      padding: var(--padding-base);
      scroll-snap-align: start;

      & h3 {
        margin-top: var(--margin-base);
        color: var(--ink-soft);
        text-align: center;
      }

      & p {
        width: 80%;
        text-align: center;
        color: var(--ink-soft);
      }

      & a {
        width: 98%;
      }

      & img {
        width: 100%;
        min-width: 390px;
        height: auto;
        border-radius: var(--radius-md);
        object-fit: cover;
        filter: contrast(80%) brightness(90%);
        box-shadow: var(--shadow);
        filter: contrast(60%) brightness(80%);
      }
    }
  }
  & .slide-button {
    visibility: hidden;
  }
}

.hidden {
  opacity: 0;
  display: none;
}
/*------------------------------------------------ 
Media Queries
------------------------------------------------*/

@media (min-width: 768px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: static;
    padding: 0px var(--padding-lg);
  }
  .hamburger-container {
    display: none;
  }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--ink-soft);
  }
  .section-hero-index {
    h1 {
      top: 40%;

      & + * {
        top: 65%;
      }
    }
    & article {
      border-radius: var(--radius-lg);
    }
  }
  .section-categorias {
    & article {
      flex-direction: row;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: var(--radius-md) var(--padding-md);

      & .article-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h3 {
          margin-bottom: var(--margin-lg);
          color: var(--ink-soft);
          text-align: center;
        }

        & a {
          margin-top: var(--margin-lg);
          width: 70%;
        }
      }
    }
  }
  .section-sugerencias {
    & h2 {
      margin-bottom: calc(var(--padding-base) * -2);
    }
    & .div-sugerencias {
      & article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        direction: rtl;
        padding: var(--radius-md) var(--padding-md);

        & .article-content-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          & h3 {
            margin-bottom: var(--margin-lg);
            color: var(--ink-soft);
            text-align: center;
          }

          & a {
            margin-top: var(--margin-base);
            width: 70%;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .section-hero-index {
    & h1 {
      top: 40%;

      & + * {
        top: 70%;
        font-size: 32px;
      }
    }

    & article {
      & img {
        height: 50dvh;
      }
    }
  }
  .section-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-lg);
    margin-bottom: var(--margin-base);

    & article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--gap-lg);
      width: 100%;
      height: fit-content;
      border-radius: var(--radius-md);
      padding: var(--padding-base);
      padding: var(--padding-md);

      & .article-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h3 {
          margin-top: var(--margin-base);
          color: var(--ink-soft);
          text-align: center;
        }

        & p {
          width: 60%;
          text-align: center;
          color: var(--ink-soft);
        }

        & a {
          width: 70%;
        }
      }
    }
  }
  .section-sugerencias {
    width: 90%;
    position: relative;

    & .div-sugerencias {
      & article {
        border: 1px solid var(--accent-wine-hover);
      }
    }
    & h2 {
      & + * {
        margin-top: calc(var(--margin-base) * -2);
        margin-bottom: var(--margin-base);
      }
    }
    & .slide-button {
      position: absolute;
      bottom: 20vh;
      cursor: pointer;
      visibility: visible;
      transition: all 0.3s ease;
      border: 1px solid var(--accent-wine-hover);
      border-radius: 50%;
      padding-top: 5.5px;
      background-color: rgba(76, 76, 76, 0.107);

      &:hover {
        background-color: rgba(76, 76, 76, 0.2);
      }
      &:active {
        background-color: rgba(76, 76, 76, 0.3);
        scale: 0.98;
      }
    }

    & .sugerencias-left-button-slide {
      left: -50px;
      padding-left: 9px;
      padding-right: 3px;
    }
    & .sugerencias-right-button-slide {
      right: -50px;
      padding-right: 5px;
      padding-left: 8px;
    }
  }
}
